# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*~
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
local.properties

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
**/build/

# Android related
**/android/.gradle/
**/android/local.properties
**/android/.idea/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/.cxx/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle-wrapper.jar

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.swiftpm/
**/ios/Podfile.lock
**/ios/Pods.xcodeproj/
**/ios/*.xcworkspace/xcuserdata/
**/ios/*.xcodeproj/xcuserdata/
**/ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# Example app specific
example/build/
example/android/.gradle/
example/android/app/build/
example/android/local.properties
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/
example/ios/Podfile.lock
example/ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/
*.lcov

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
