name: esp_idf
description: Flutter plugin for ESP32/ESP8266 device provisioning using ESP-IDF. Supports BLE and SoftAP transport with multiple security modes.
version: 0.0.1
homepage: https://github.com/Nghi-NV/esp_idf
repository: https://github.com/Nghi-NV/esp_idf
issue_tracker: https://github.com/Nghi-NV/esp_idf/issues

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.nghinv.esp_idf
        pluginClass: EspIdfPlugin
      ios:
        pluginClass: EspIdfPlugin
